@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #00274C;
    font-size: 1rem;
}

.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

/* Header and Footer */
header, footer {
    background-color: #00274C;
    color: #FFFFFF;
    text-align: center;
    padding: 1.5rem 0;
}

header img {
    width: 6.25rem;
    height: auto;
}

a {
    color: #2F65A7;
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: underline;
}

a[href="#main-content"] {
    position: absolute;
    top: -2.5rem;
    left: 0;
    background-color: #FFCB05;
    color: #00274C;
    padding: 0.625rem;
    z-index: auto;
    width: 100%;
}

a[href="#main-content"]:focus {
    top: 0;
}

/* Navigation */
nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    gap: 0.5rem;
    padding: 0.125rem;
    justify-content: center;
    align-items: center;
    background-color: #FFCB05;
}

nav li {
    margin: 0.125rem;
    text-align: center;
}

nav a {
    display: block;
    padding: 0.75rem;
    color: #00274C;
    background-color: #FFCB05;
    border-radius: 0.25rem;
}

nav a.active, nav a:hover {
    background-color: #00274C;
    color: #FFFFFF;
}

/* Headings */
h1, h2, h3 {
    margin: 1.5rem 0 0;
    color: #00274C;
}

/* Main Content */
h1 {
    font-size: 2rem;
    color: #ffffff;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Footer */
footer {
    background-color: #00274C;
    color: #FFFFFF;
    text-align: center;
    padding: 1.5rem;
}

footer p {
    font-size: 1rem;
    margin: 0.625rem 0;
}

footer a {
    color: #FFCB05;
    text-decoration: underline;
    font-size: 1rem;
}

a:focus, button:focus, input:focus {
    outline: 0.1875rem solid #FFCB05;
    outline-offset: 0.125rem;
}
